<div class="list_of_the_elements">
    <h3>
        <span>Routes List</span>
        <%= link_to 'Add Route', new_driveroute_path, :class => 'navbar-link' %>
    </h3>
    <% if @driveroutes.count > 0 
        @driveroutes.each { | driveroute |
            @driveroute = driveroute %>
            <%= render 'driveroute' %>
    <% } end %>
</div>
