<div class="element_from_list">
    <div class="element_details">
        <div class="row">
            <div class="left">Route ID</div>
            <div class="right"><%= @routepoint.route_id %></div>
        </div>
        <div class="row">
            <div class="left">Location ID</div>
            <div class="right"><%= @routepoint.location_id %></div>
        </div> 
    </div>
    <div class="options">
        <div><%= link_to 'Delete Route Point', routepoint_path(@routepoint), method: 'delete', class: 'btn btn-default del' %></div>
        <div><%= link_to 'Edit Route Point', edit_routepoint_path(@routepoint), class: 'btn btn-default upd' %></div>
    </div>
</div>