<div class="pull-right">
<%= link_to 'Delete Vehicle', vehicle_path(@vehicle), method: 'delete', class: 'btn btn-default' %>
<%= link_to 'Edit Vehicle', edit_vehicle_path(@vehicle), class: 'btn btn-default' %>
</div>