<div class="list_of_the_elements">
    <h3>
        <span>Locations List</span>
        <%= link_to 'Add Location', new_location_path, :class => 'navbar-link' %>
    </h3>
    <% if @locations.count > 0 
        @locations.each { | location |
            @location = location %>
            <%= render 'location' %>
    <% } end %>
</div>
