<div class="pull-right">
<%= link_to 'Delete Location', location_path(@location), method: 'delete', class: 'btn btn-default' %>
<%= link_to 'Edit Location', edit_location_path(@location), class: 'btn btn-default' %>
</div>
